<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.javaboy.demo.User" id="user">
        <property name="id" value="1"/>
        <property name="name" value="^username"/>
    </bean>

    <!--这个注册到 Spring 容器之后，会对所有的 Bean 生效，并不需要在针对某一个 Bean 去单独设置-->
    <bean class="org.javaboy.demo.MyBeanFactoryPostProcessor"/>

    <context:property-placeholder location="classpath:db.properties" ignore-unresolvable="true" local-override="true"/>
    <bean class="org.javaboy.demo.DataSource" id="dataSource">
        <property name="url" value="${db.url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${db.password}"/>
    </bean>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="classpath:db.properties"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="localOverride" value="true"/>
    </bean>
</beans>