<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.javaboy.demo.OkHttpClientStaticFactory" id="okHttpClient" factory-method="getInstance"/>

    <bean class="org.javaboy.demo.OkHttpClientInstanceFactory" id="okHttpClientInstanceFactory"/>
    <bean class="okhttp3.OkHttpClient" factory-bean="okHttpClientInstanceFactory" factory-method="getInstance"
          id="okHttpClient2"/>

    <bean class="org.javaboy.demo.OkHttpClientFactoryBean" id="okHttpClient3"/>
</beans>