<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入一个 db.properties 配置文件，实际上，就是将这个文件中的值注册到 Spring 容器中去-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--${xxx} 表示跟 Spring 容器去要相应的 value-->
    <bean class="org.javaboy.demo.DataSource" id="dataSource">
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="url" value="${db.url}"/>
    </bean>
</beans>