<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class="org.javaboy.demo.UserDao" id="userDao" scope="prototype">
        <!--开启 scope 属性的代理模式-->
        <aop:scoped-proxy/>
    </bean>
    <bean class="org.javaboy.demo.UserService" id="userService">
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>